@model TemperatureSimulatorCommand
@{
    ViewData["Title"] = "Simulators";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Available Simulators</h1>
    <!-- <hr />     -->
</div>
<div class="row">
    <div class="col-md-4"> 
        <form asp-controller="Simulator" method="POST">
            <div class="form-group">
                <label asp-for="MaxIndexToSimulate">Temperature Simulator</label>
                <input asp-for="MaxIndexToSimulate" class="form-control" type="int" value="10"/>
                <button class="btn btn-default" type="submit" asp-action="Temperature">Start</button> <br/>
                <hr />
                <label asp-for="MaxIndexToSimulate">People Simulator</label>
                <input asp-for="MaxIndexToSimulate" class="form-control" type="int" value="10"/>
                <button class="btn btn-default" type="submit" asp-action="People">Start</button>                
            </div>
        </form>
    </div>
</div>
