@{
    ViewData["Title"] = "Simulators";
}

<div class="text-center">
    <h1 class="display-4">Available Simulators</h1>
    <!-- <hr />     -->
</div>
<div> 
    <body> 
        <li><a href="https://localhost:5001/api/TempGenerator">Temperature Generator </a></li>
    </body>
</div> 
