@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <h2 class="display-4">This is a Dashboard Prototype IoT</h2>
    <p> Projeto está sendo desenvolvido aos poucos</p>
</div