@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <h2 class="display-4">Dados de contato</h2>
</div